.range {
  background: #cfd8d6;
  display: inline-flex;
  height: 10px;
  position: relative;
  margin: 8px 0;
  width: 400px;
}

.range:hover {
  cursor: pointer;
}

.range-fill {
  background: #1bbe8e;
  display: inline-flex;
  width: 0;
}

.range-handle {
  align-self: center;
  background: #fff;
  border: 3px solid #1bbe8e;
  display: inline-flex;
  height: 15px;
  cursor: pointer;
  position: relative;
  width: 20px;
}
