.range {
  background: #cfd8d6;
  display: inline-flex;
  height: 10px;
  margin: 7px 0;
  width: 400px;
}

.range:hover {
  cursor: pointer;
}

.range-fill {
  background: #1bbe8e;
  display: inline-flex;
  width: 0;
}

.range-handle {
  align-self: center;
  background: #fff;
  border: 3px solid #1bbe8e;
  display: inline-flex;
  flex-shrink: 0;
  flex-grow: 0;
  height: 14px;
  cursor: pointer;
  width: 20px;
  /*margin-left: -10px;*/
}
